body{
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
#choice{
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: auto;
}
button{
    font-size: 30px;
    width: auto;
    height: 200px;
    border-radius: 15%;
    color: red;
}
#choice > button{
    margin:auto
}