body{
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
#choice{
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    margin: auto;
    gap: 100px
}
button{
    font-size: 30px;
    width: 200px;
    height: 200px;
    border-radius: 15%;
    color: red;
}